eclipseProjects/AgentGui/projects/gasmas/transfer/zib/resources/CompressorStations.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!--                                                                       -->
<!--                   This file is part of the project                    -->
<!--            NOPT - gas transport Network OPTimizer                     -->
<!--                                                                       -->
<!--     written by  Martin Schmidt                                        -->
<!--  Copyright (C)  2009 LUH                                              -->
<!--                                                                       -->
<!--  Distribution only among partners according to project agreements.    -->
<!--  Any questions should be sent to nopt@zib.de .                        -->
<!--                                                                       -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://ifam.uni-hannover.de/ao/nopt/compressorStation"	
	xmlns:cs="http://ifam.uni-hannover.de/ao/nopt/compressorStation"
	xmlns:gas="http://mathematik.tu-darmstadt.de/opt/gas/XMLSchema"
	xmlns:framework="http://mathematik.tu-darmstadt.de/opt/framework/XMLSchema"
	elementFormDefault="qualified">
	
	<xsd:annotation>
		<xsd:documentation>
			This file constitutes a specification for XML files defining the compressor
			stations of a gas network such that there should be a one-to-one correspondence
			between the compressor stations defined in a file conforming to Gas.xsd
			and the compressor stations defined in a file conforming to this schema.
			Basic types used within this schema are defined in <a href="PhysicalValues_xsd.html">PhysicalValues.xsd</a>. 
			The tag <a href="#id213">compressorStations</a> must be the root element of each XML document conforming 
			to this schema.
		</xsd:documentation>
	</xsd:annotation>

	<!-- Section: import (mandatory) -->
	<xsd:import namespace="http://mathematik.tu-darmstadt.de/opt/framework/XMLSchema" schemaLocation="Framework.xsd"/>

	<xsd:import namespace="http://mathematik.tu-darmstadt.de/opt/gas/XMLSchema"
		schemaLocation="Gas.xsd"/>

	<xsd:element name="compressorStations" type="cs:compressorStationsType">
		<xsd:annotation>
			<xsd:documentation> Contains all compressor stations of a gas network
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>

	<xsd:complexType name="compressorStationsType">
		<xsd:annotation>
			<xsd:documentation> The compressor station type </xsd:documentation>
		</xsd:annotation>

		<xsd:sequence>
			<xsd:element name="compressorStation" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation> A compressor station with compressors, drives and
						configurations </xsd:documentation>
				</xsd:annotation>

				<xsd:complexType>
					<xsd:annotation>
						<xsd:documentation> A list of compressors in this station
						</xsd:documentation>
					</xsd:annotation>

					<xsd:sequence>
						<xsd:element name="compressors">
							<xsd:annotation>
								<xsd:documentation> Contains all compressors of this station
								</xsd:documentation>
							</xsd:annotation>

							<xsd:complexType>
								<xsd:annotation>
									<xsd:documentation> A list of turbo compressors and piston
										compressors </xsd:documentation>
								</xsd:annotation>

								<xsd:sequence>
									<xsd:element name="turboCompressor"
										type="cs:turboCompressorType" minOccurs="0"
										maxOccurs="unbounded">
										<xsd:annotation>
											<xsd:documentation> A turbo compressor which is a
												special type of a compressor </xsd:documentation>
										</xsd:annotation>
									</xsd:element>

									<xsd:element name="pistonCompressor"
										type="cs:pistonCompressorType" minOccurs="0"
										maxOccurs="unbounded">
										<xsd:annotation>
											<xsd:documentation> A piston compressor which is a
												special type of a compressor </xsd:documentation>
										</xsd:annotation>
									</xsd:element>

								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>

						<xsd:element name="drives">
							<xsd:annotation>
								<xsd:documentation> Contains all drives in the station
								</xsd:documentation>
							</xsd:annotation>

							<xsd:complexType>
								<xsd:annotation>
									<xsd:documentation> A list of gas turbines, gas driven motors,
										electric motors and steam turbines </xsd:documentation>
								</xsd:annotation>

								<xsd:sequence>
									<xsd:element name="gasTurbine" type="cs:gasTurbineType"
										minOccurs="0" maxOccurs="unbounded">
										<xsd:annotation>
											<xsd:documentation> A gas turbine which is a special
												type of drive </xsd:documentation>
										</xsd:annotation>
									</xsd:element>

									<xsd:element name="gasDrivenMotor" type="cs:gasDrivenMotorType"
										minOccurs="0" maxOccurs="unbounded">
										<xsd:annotation>
											<xsd:documentation> A gas driven motor which is a
												special type of drive </xsd:documentation>
										</xsd:annotation>
									</xsd:element>

									<xsd:element name="electricMotor" type="cs:electricMotorType"
										minOccurs="0" maxOccurs="unbounded">
										<xsd:annotation>
											<xsd:documentation> An electric motor which is a special
												type of drive </xsd:documentation>
										</xsd:annotation>
									</xsd:element>

									<xsd:element name="steamTurbine" type="cs:steamTurbineType"
										minOccurs="0" maxOccurs="unbounded">
										<xsd:annotation>
											<xsd:documentation> A steam turbine which is a special
												type of drive </xsd:documentation>
										</xsd:annotation>
									</xsd:element>

								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>

						<xsd:element name="configurations">
							<xsd:annotation>
								<xsd:documentation> A list of configurations for the enclosing
									station </xsd:documentation>
							</xsd:annotation>

							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="configuration" type="cs:configurationType"
										minOccurs="1" maxOccurs="unbounded">
										<xsd:annotation>
											<xsd:documentation> A configuration defines the way the
												station is configured, that is which compressors are
												running parallel or serial. A configuration defines
												one or more stages. Every stage has one or more
												compressors assigned to it. The compressors assigned
												to a single stage are running in parallel. The
												stages itself are viewed as units running serial.
												Therefore a configuration as defined here cannot
												model all possibilities but just serial units of
												parallel compressors. </xsd:documentation>
										</xsd:annotation>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>

					<xsd:attribute name="id" type="xsd:string" use="required">
						<xsd:annotation>
							<xsd:documentation> The id of the station </xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>

					<xsd:attribute name="buildingCost" type="xsd:decimal" use="optional" default="0.0">
						<xsd:annotation>
							<xsd:documentation> The building cost of the station
							</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>

					<xsd:attribute name="upgradeCost" type="xsd:decimal" use="optional" default="0.0">
						<xsd:annotation>
							<xsd:documentation> The upgrade cost for adding station to an existing
								station </xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>

				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="compressorType">
		<xsd:annotation>
			<xsd:documentation> Abstract base class for all compressors </xsd:documentation>
		</xsd:annotation>

		<xsd:sequence>
			<xsd:element name="speedMin" type="cs:speedType">
				<xsd:annotation>
					<xsd:documentation> The minimal speed a compressor can run at
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<xsd:element name="speedMax" type="cs:speedType">
				<xsd:annotation>
					<xsd:documentation> The maximal speed a compressor can run at
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>

		<xsd:attribute name="id" type="xsd:string" use="required">
			<xsd:annotation>
				<xsd:documentation> The compressor id used to identify the compressor. The pair
					(station-id, compressor-id) is unique. </xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>

		<xsd:attribute name="drive" type="xsd:string" use="required">
			<xsd:annotation>
				<xsd:documentation> The corresponding drive to the compressor </xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="turboCompressorType">
		<xsd:annotation>
			<xsd:documentation> The definition of a turbo compressor. It contains a sequence of
				coefficients resulting from a (bi)quadratic least-squares fit. A biquadratic
				least-squares-fit has the form: f(x, y) = [1 x x*x] * A * [1 y y*y]^T where A is a
				matrix of coefficients [a1 a2 a3; a4 a5 a6; a7 a8 a9] (written in column-first
				order). A quadratic least-squares fit has the form: f(x) = [1 x x*x] * [b1 b2 b3]^T.
				Nine dimensionless coefficients for the isolines for speed resulting from a
				biquadratic fit: f(x, y) = z with x = volumetric flowrate in m^3/s, y = revolutions
				per minute, z = adiabatic head in kJ/kg. Nine dimensionless coefficients for the
				isolines for adiabatic efficiency resulting from a biquadratic fit: f(x, y) = z with
				x = volumetric flowrate in m^3/s, y = revolutions per minute, z = adiabatic
				efficiency. Three dimensionless coefficients for the surgeline resulting from a
				quadratic fit: f(y) = z with y = revolutions per minute, z = adiabatic head in
				kJ/kg. Three dimensionless coefficients for the chokeline resulting from a quadratic
				fit: f(y) = z with y = revolutions per minute, z = adiabatic head in kJ/kg.
			</xsd:documentation>
		</xsd:annotation>

		<xsd:complexContent>
			<xsd:extension base="cs:compressorType">
				<xsd:sequence>
					<xsd:annotation>
						<xsd:documentation> </xsd:documentation>
					</xsd:annotation>

					<xsd:element name="n_isoline_coeff_1" type="framework:noType">
						<xsd:annotation>
							<xsd:documentation> The first of nine dimensionless coefficients for the
								isolines for speed. </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="n_isoline_coeff_2" type="framework:noType"/>
					<xsd:element name="n_isoline_coeff_3" type="framework:noType"/>
					<xsd:element name="n_isoline_coeff_4" type="framework:noType"/>
					<xsd:element name="n_isoline_coeff_5" type="framework:noType"/>
					<xsd:element name="n_isoline_coeff_6" type="framework:noType"/>
					<xsd:element name="n_isoline_coeff_7" type="framework:noType"/>
					<xsd:element name="n_isoline_coeff_8" type="framework:noType"/>
					<xsd:element name="n_isoline_coeff_9" type="framework:noType"/>

					<xsd:element name="eta_ad_isoline_coeff_1" type="framework:noType">
						<xsd:annotation>
							<xsd:documentation> The first of nine dimensionless coefficients for the
								isolines for adiabatic efficiency. </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="eta_ad_isoline_coeff_2" type="framework:noType"/>
					<xsd:element name="eta_ad_isoline_coeff_3" type="framework:noType"/>
					<xsd:element name="eta_ad_isoline_coeff_4" type="framework:noType"/>
					<xsd:element name="eta_ad_isoline_coeff_5" type="framework:noType"/>
					<xsd:element name="eta_ad_isoline_coeff_6" type="framework:noType"/>
					<xsd:element name="eta_ad_isoline_coeff_7" type="framework:noType"/>
					<xsd:element name="eta_ad_isoline_coeff_8" type="framework:noType"/>
					<xsd:element name="eta_ad_isoline_coeff_9" type="framework:noType"/>

					<xsd:element name="surgeline_coeff_1" type="framework:noType">
						<xsd:annotation>
							<xsd:documentation> The first of three dimensionless coefficients for
								the isolines for the surgeline. </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="surgeline_coeff_2" type="framework:noType"/>
					<xsd:element name="surgeline_coeff_3" type="framework:noType"/>

					<xsd:element name="chokeline_coeff_1" type="framework:noType">
						<xsd:annotation>
							<xsd:documentation> The first of three dimensionless coefficients for
								the isolines for the chokeline. </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="chokeline_coeff_2" type="framework:noType"/>
					<xsd:element name="chokeline_coeff_3" type="framework:noType"/>


					<xsd:element name="efficiencyOfChokeline" type="framework:noType" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation> Defines the efficiency of the chokeline. A
								compressor should not operate to the right of the chokeline in the
								characteristic diagram due to technical restrictions.
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>

					<xsd:element name="settlelineMeasurements" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation> Defines the measurements from which the surgeline
								was fitted as a quadratic function. </xsd:documentation>
						</xsd:annotation>

						<xsd:complexType>
							<xsd:annotation>
								<xsd:documentation> A list of measurements for the surgeline
								</xsd:documentation>
							</xsd:annotation>

							<xsd:sequence>
								<xsd:element name="measurement" type="cs:tc_measurementType"
									minOccurs="3" maxOccurs="unbounded">
									<xsd:annotation>
										<xsd:documentation> Defines a single measurement of the
											surgeline. There must be at least three measurements to
											be able to guarantee a meaningful quadratic
											least-squares fit. </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>

					<xsd:element name="characteristicDiagramMeasurements" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation> Defines all measurements for the characteristic
								diagram of the turbo compressor </xsd:documentation>
						</xsd:annotation>

						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="adiabaticEfficiency" maxOccurs="unbounded">
									<xsd:annotation>
										<xsd:documentation> Defines a context in which all
											measurements have the same adiabatic efficiency
										</xsd:documentation>
									</xsd:annotation>

									<xsd:complexType>
										<xsd:annotation>
											<xsd:documentation> A list of measurements for a
												specific adiabatic efficiency </xsd:documentation>
										</xsd:annotation>

										<xsd:sequence>
											<xsd:element name="measurement"
												type="cs:tc_measurementType" minOccurs="3"
												maxOccurs="unbounded">
												<xsd:annotation>
												<xsd:documentation> A single measurement for the
												characteristic diagram </xsd:documentation>
												</xsd:annotation>
											</xsd:element>
										</xsd:sequence>

										<xsd:attribute name="value" type="xsd:string" use="required">
											<xsd:annotation>
												<xsd:documentation> Defines the adiabatic efficiency
												for all measurements in this context
												</xsd:documentation>
											</xsd:annotation>
										</xsd:attribute>
									</xsd:complexType>
								</xsd:element>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="pistonCompressorType">
		<xsd:annotation>
			<xsd:documentation> The definition of a piston compressor </xsd:documentation>
		</xsd:annotation>

		<xsd:complexContent>
			<xsd:extension base="cs:compressorType">
				<xsd:sequence>
					<xsd:element name="operatingVolume" type="framework:volumeType">
						<xsd:annotation>
							<xsd:documentation> The operating volume of the piston compressor, that
								is the volume of an incompressible fluid being transported by a
								single revolution of the crankshaft. </xsd:documentation>
						</xsd:annotation>
					</xsd:element>

					<xsd:element name="maximalTorque" type="cs:torqueType">
						<xsd:annotation>
							<xsd:documentation> The maximal torque of the piston compressor
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>

					<xsd:element name="maximalCompressionRatio" type="framework:noType">
						<xsd:annotation>
							<xsd:documentation> The maximal compression ratio of the piston
								compressor </xsd:documentation>
						</xsd:annotation>
					</xsd:element>

					<xsd:element name="adiabaticEfficiency" type="framework:noType">
						<xsd:annotation>
							<xsd:documentation> The adiabatic effienciency of the piston compressor
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>

					<xsd:element name="additionalReductionVolFlow" type="framework:noType"
						minOccurs="0">
						<xsd:annotation>
							<xsd:documentation> The additional reduction flow of the piston
								compressor </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:element abstract="true" name="drive" type="cs:driveType">
		<xsd:annotation>
			<xsd:documentation> Abstract base class for all drives </xsd:documentation>
		</xsd:annotation>
	</xsd:element>

	<xsd:complexType name="driveType">
		<xsd:annotation>
			<xsd:documentation> Definition of the abstract drive type. All drives contain a sequence
				of coefficients describing the specific energy consumption rate. A quadratic
				least-squares fit has the form: f(x) = [1 x x*x] * [b1 b2 b3]^T. Three dimensionless
				coefficients for the specific energy consumption rate resulting from a quadratic
				fit: f(x) = y with x = shaft power in kW, y = specific fuel consumption in kW
			</xsd:documentation>
		</xsd:annotation>

		<xsd:sequence>
			<xsd:element name="energy_rate_fun_coeff_1" type="framework:noType">
				<xsd:annotation>
					<xsd:documentation> The first of three dimensionless coefficients for the
						specific energy consumption rate. They result from a quadratic least-squares
						fit. </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="energy_rate_fun_coeff_2" type="framework:noType"/>
			<xsd:element name="energy_rate_fun_coeff_3" type="framework:noType"/>
		</xsd:sequence>

		<xsd:attribute name="id" type="xsd:string" use="required">
			<xsd:annotation>
				<xsd:documentation> The drive id used to identify the drive. The pair (station-id,
					drive-id) is unique. </xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="gasTurbineType">
		<xsd:annotation>
			<xsd:documentation> Definition of the gas turbine type. It contains a sequence of
				coefficients describing the maximal shaft power resulting from a biquadratic
				least-squares fit. A biquadratic least-squares-fit has the form: f(x, y) = [1 x x*x]
				* A * [1 y y*y]^T where A is a matrix of coefficients [a1 a2 a3; a4 a5 a6; a7 a8 a9]
				(written in column-first order). Nine dimensionless coefficients for the isolines
				for speed resulting from a biquadratic fit: f(x, y) = z with x = compressor speed in
				revolutions per minute, y = ambient temperature in degree celsius, z = maximal shaft
				power in kW </xsd:documentation>
		</xsd:annotation>

		<xsd:complexContent>
			<xsd:extension base="cs:driveType">
				<xsd:sequence>
					<xsd:element name="power_fun_coeff_1" type="framework:noType">
						<xsd:annotation>
							<xsd:documentation> The first of nine dimensionless coefficients for the
								maximal shaft power. </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="power_fun_coeff_2" type="framework:noType"/>
					<xsd:element name="power_fun_coeff_3" type="framework:noType"/>
					<xsd:element name="power_fun_coeff_4" type="framework:noType"/>
					<xsd:element name="power_fun_coeff_5" type="framework:noType"/>
					<xsd:element name="power_fun_coeff_6" type="framework:noType"/>
					<xsd:element name="power_fun_coeff_7" type="framework:noType"/>
					<xsd:element name="power_fun_coeff_8" type="framework:noType"/>
					<xsd:element name="power_fun_coeff_9" type="framework:noType"/>

					<xsd:element name="specificEnergyConsumptionMeasurements"
						type="cs:SEC_MeasurementsType" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation> Defines a context for the measurements of the
								specific energy consumption </xsd:documentation>
						</xsd:annotation>
					</xsd:element>

					<xsd:element name="maximalPowerMeasurements" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation> Defines a context for the measurements of the
								maximal power </xsd:documentation>
						</xsd:annotation>

						<xsd:complexType>
							<xsd:annotation>
								<xsd:documentation> A list of ambient temperatures containing the
									measurements </xsd:documentation>
							</xsd:annotation>

							<xsd:sequence>
								<xsd:element name="ambientTemperature" maxOccurs="unbounded">
									<xsd:annotation>
										<xsd:documentation> The ambient temperature for all
											measurements in this context </xsd:documentation>
									</xsd:annotation>

									<xsd:complexType>
										<xsd:annotation>
											<xsd:documentation> A list of measurements
											</xsd:documentation>
										</xsd:annotation>

										<xsd:sequence>
											<xsd:element name="measurement"
												type="cs:mp_measurementType" minOccurs="3"
												maxOccurs="unbounded">
												<xsd:annotation>
												<xsd:documentation> A single measurement
												</xsd:documentation>
												</xsd:annotation>
											</xsd:element>

										</xsd:sequence>
										<xsd:attribute name="value" type="framework:double"
											use="required">
											<xsd:annotation>
												<xsd:documentation>The value of the ambient temperature</xsd:documentation>
											</xsd:annotation>
										</xsd:attribute>
										<xsd:attribute default="K" name="unit"
											type="framework:string">
											<xsd:annotation>
												<xsd:documentation>The unit of the ambient temperature</xsd:documentation>
											</xsd:annotation>
										</xsd:attribute>
									</xsd:complexType>
								</xsd:element>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="gasDrivenMotorType">
		<xsd:annotation>
			<xsd:documentation> Definition of the gas driven motor type. It contains a sequence of
				coefficients describing the maximal shaft power resulting from a quadratic
				least-squares fit. A quadratic least-squares fit has the form: f(x) = [1 x x*x] *
				[b1 b2 b3]^T. Three dimensionless coefficients for the maximal shaft power resulting
				from a quadratic fit: f(x) = y with x = revolutions per minute, y = maximal shaft
				power in kW </xsd:documentation>
		</xsd:annotation>

		<xsd:complexContent>
			<xsd:extension base="cs:driveType">
				<xsd:sequence>
					<xsd:element name="power_fun_coeff_1" type="framework:noType">
						<xsd:annotation>
							<xsd:documentation> The first of three dimensionless coefficients for
								the power function. </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="power_fun_coeff_2" type="framework:noType"/>
					<xsd:element name="power_fun_coeff_3" type="framework:noType"/>

					<xsd:element name="specificEnergyConsumptionMeasurements"
						type="cs:SEC_MeasurementsType" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation> Defines a context for the measurements of the
								specific energy consumption </xsd:documentation>
						</xsd:annotation>
					</xsd:element>

					<xsd:element name="maximalPowerMeasurements" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation> Defines a context for the measurements of the
								maximal power </xsd:documentation>
						</xsd:annotation>

						<xsd:complexType>
							<xsd:annotation>
								<xsd:documentation> A list of measurements </xsd:documentation>
							</xsd:annotation>

							<xsd:sequence>
								<xsd:element name="measurement" type="cs:mp_measurementType"
									minOccurs="3" maxOccurs="unbounded">
									<xsd:annotation>
										<xsd:documentation> A single measurement
										</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="electricMotorType">
		<xsd:annotation>
			<xsd:documentation> Definition of the electric motor type. Depending on whether this
				electric motor is modeled as a gas turbine or a gas motor, nine or three
				dimensionless coefficients are given for the (bi)quadratic power function. For
				details, see the corresponding documentation in the gas turbine and gas motor type
				definitions. </xsd:documentation>
		</xsd:annotation>

		<xsd:complexContent>
			<xsd:extension base="cs:driveType">
				<xsd:sequence>
					<xsd:sequence minOccurs="1" maxOccurs="1">
						<xsd:element name="power_fun_coeff_1" type="framework:noType"/>
						<xsd:element name="power_fun_coeff_2" type="framework:noType"/>
						<xsd:element name="power_fun_coeff_3" type="framework:noType"/>
					</xsd:sequence>
					<xsd:sequence minOccurs="0" maxOccurs="1">
						<xsd:element name="power_fun_coeff_4" type="framework:noType"/>
						<xsd:element name="power_fun_coeff_5" type="framework:noType"/>
						<xsd:element name="power_fun_coeff_6" type="framework:noType"/>
						<xsd:element name="power_fun_coeff_7" type="framework:noType"/>
						<xsd:element name="power_fun_coeff_8" type="framework:noType"/>
						<xsd:element name="power_fun_coeff_9" type="framework:noType"/>
					</xsd:sequence>

					<xsd:sequence minOccurs="0">
						<xsd:element name="specificEnergyConsumptionMeasurements"
							type="cs:SEC_MeasurementsType">
							<xsd:annotation>
								<xsd:documentation> Defines a context for the measurements of the
									specific energy consumption </xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<xsd:element name="maximalPowerMeasurements">
							<xsd:annotation>
								<xsd:documentation> Defines a context for all maximal power
									measurements </xsd:documentation>
							</xsd:annotation>

							<xsd:complexType>
								<xsd:annotation>
									<xsd:documentation> Either a sequence of measurement or a
										sequence of ambientTemperature </xsd:documentation>
								</xsd:annotation>

								<xsd:choice>
									<xsd:sequence>
										<xsd:element name="measurement" type="cs:mp_measurementType"
											minOccurs="3" maxOccurs="unbounded">
											<xsd:annotation>
												<xsd:documentation> A single measurement in the case
												of a gas driven motor </xsd:documentation>
											</xsd:annotation>
										</xsd:element>
									</xsd:sequence>

									<xsd:sequence>
										<xsd:element name="ambientTemperature" maxOccurs="unbounded">
											<xsd:annotation>
												<xsd:documentation> The ambient temperature for all
												measurements in this context </xsd:documentation>
											</xsd:annotation>

											<xsd:complexType>
												<xsd:annotation>
												<xsd:documentation> A list of measurements
												</xsd:documentation>
												</xsd:annotation>

												<xsd:sequence>
												<xsd:element name="measurement"
												type="cs:mp_measurementType" minOccurs="3"
												maxOccurs="unbounded">
												<xsd:annotation>
												<xsd:documentation> A single measurement in the
												case of a gas turbine </xsd:documentation>
												</xsd:annotation>
												</xsd:element>
												</xsd:sequence>

												<xsd:attribute name="value" type="framework:double"
												use="required">
												<xsd:annotation>
												<xsd:documentation> The value of the ambient
												temperature </xsd:documentation>
												</xsd:annotation>
												</xsd:attribute>

												<xsd:attribute default="K" name="unit"
												type="framework:string">
												<xsd:annotation>
												<xsd:documentation> The unit of the ambient
												temperature </xsd:documentation>
												</xsd:annotation>
												</xsd:attribute>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:choice>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="steamTurbineType">
		<xsd:annotation>
			<xsd:documentation> Definition of the steam turbine type </xsd:documentation>
		</xsd:annotation>

		<xsd:complexContent>
			<xsd:extension base="cs:driveType">
				<xsd:sequence>
					<xsd:element name="powerMin" type="framework:powerType">
						<xsd:annotation>
							<xsd:documentation> The minimal power of the steam turbine
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>

					<xsd:element name="powerMax" type="framework:powerType">
						<xsd:annotation>
							<xsd:documentation> The maximal power of the steam turbine
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>

				<xsd:attribute name="explicit" type="xsd:boolean" use="required">
					<xsd:annotation>
						<xsd:documentation> Let F be the fuel consumption and P be the power of the
							steam turbine. Depending on the value of this attribute, the
							interpretation of the given coefficients change. If explicit=true, we
							have F(P) = a1 + a2*P + a3*P*P, which means fuel consumption is
							expressed in terms of power, which is explicit. Else, we have P(F) = b1
							+ b2*F + b3*F*F, that is fuel consumption is implicitly given as
							solution of a quadratic function. </xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="speedType">
		<xsd:annotation>
			<xsd:documentation> Definition of the type for compressor speed </xsd:documentation>
		</xsd:annotation>

		<xsd:complexContent>
			<xsd:extension base="framework:unitType">
				<xsd:attribute default="per_min" name="unit" type="gas:per_minUnit">
					<xsd:annotation>
						<xsd:documentation> Unit of speed </xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>

				<xsd:attribute name="value" type="framework:double" use="required">
					<xsd:annotation>
						<xsd:documentation> Value of speed </xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="torqueType">
		<xsd:annotation>
			<xsd:documentation> Definition of the type for torque </xsd:documentation>
		</xsd:annotation>

		<xsd:complexContent>
			<xsd:extension base="framework:unitType">
				<xsd:attribute default="kNm" name="unit" type="cs:kNmUnit">
					<xsd:annotation>
						<xsd:documentation> Unit of the torque </xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>

				<xsd:attribute name="value" type="framework:double" use="required">
					<xsd:annotation>
						<xsd:documentation> Value of the torque </xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:simpleType name="kNmUnit">
		<xsd:annotation>
			<xsd:documentation> The "kilo newton per meter" unit </xsd:documentation>
		</xsd:annotation>

		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="kNm"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:complexType name="configurationType">
		<xsd:annotation>
			<xsd:documentation> Definition of a compressor station configuration
			</xsd:documentation>
		</xsd:annotation>

		<xsd:sequence>
			<xsd:element name="stage" minOccurs="1" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation> The stage of the configuration </xsd:documentation>
				</xsd:annotation>

				<xsd:complexType>
					<xsd:annotation>
						<xsd:documentation> A list of stages </xsd:documentation>
					</xsd:annotation>

					<xsd:sequence>
						<xsd:element name="compressor" minOccurs="1" maxOccurs="unbounded">
							<xsd:complexType>
								<xsd:attribute name="id" type="xsd:string" use="required">
									<xsd:annotation>
										<xsd:documentation> The compressor id of the compressor
											belonging in this stage </xsd:documentation>
									</xsd:annotation>
								</xsd:attribute>

								<xsd:attribute name="nominalSpeed" type="xsd:positiveInteger" use="required">
									<xsd:annotation>
										<xsd:documentation> The nominal speed of the compressor
										</xsd:documentation>
									</xsd:annotation>
								</xsd:attribute>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>

					<xsd:attribute name="stageNr" type="xsd:positiveInteger" use="required">
						<xsd:annotation>
							<xsd:documentation> The number of this stage. The first stage has the
								number "1". </xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>

					<xsd:attribute name="nrOfParallelUnits" type="xsd:positiveInteger" use="required">
						<xsd:annotation>
							<xsd:documentation> The number of compressors working in parallel in
								this stage. </xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>

		<xsd:attribute name="confId" type="xsd:string" use="required">
			<xsd:annotation>
				<xsd:documentation> The configuration id used to identify the configuration. The
					pair (station-id, configuration-id) is unique. </xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>

		<xsd:attribute name="nrOfSerialStages" type="xsd:positiveInteger" use="required">
			<xsd:annotation>
				<xsd:documentation> The number of stages working in serial in this configuration.
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="tc_measurementType">
		<xsd:annotation>
			<xsd:documentation> Definition of the turbo compressor measurement type
			</xsd:documentation>
		</xsd:annotation>

		<xsd:sequence>
			<xsd:element name="speed" type="cs:speedType">
				<xsd:annotation>
					<xsd:documentation> The speed for this measurement </xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<xsd:element name="adiabaticHead">
				<xsd:annotation>
					<xsd:documentation> The adiabatic head for this measurement </xsd:documentation>
				</xsd:annotation>

				<xsd:complexType>
					<xsd:attribute default="kJ_per_kg" name="unit" type="framework:string">
						<xsd:annotation>
							<xsd:documentation> The unit of the adiabatic head </xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>

					<xsd:attribute name="value" type="framework:double" use="required">
						<xsd:annotation>
							<xsd:documentation> The value of the adiabatic head </xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="volumetricFlowrate">
				<xsd:annotation>
					<xsd:documentation> The volumetric flowrate for this measurement
					</xsd:documentation>
				</xsd:annotation>

				<xsd:complexType>
					<xsd:attribute default="m_cube_per_s" name="unit" type="framework:string">
						<xsd:annotation>
							<xsd:documentation> The unit of the volumetric flowrate
							</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>

					<xsd:attribute name="value" type="framework:double" use="required">
						<xsd:annotation>
							<xsd:documentation> The value of the volumetric flowrate
							</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="mp_measurementType">
		<xsd:annotation>
			<xsd:documentation> Definition of measurement type for the maximal power
			</xsd:documentation>
		</xsd:annotation>

		<xsd:sequence>
			<xsd:element name="speed" type="cs:speedType">
				<xsd:annotation>
					<xsd:documentation> The speed for this measurement </xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<xsd:element name="maximalPower">
				<xsd:annotation>
					<xsd:documentation> Definition of measurement type for the maximal power
					</xsd:documentation>
				</xsd:annotation>

				<xsd:complexType>
					<xsd:attribute default="kW" name="unit" type="framework:string">
						<xsd:annotation>
							<xsd:documentation> The unit of the maximal power </xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>

					<xsd:attribute name="value" type="framework:double" use="required">
						<xsd:annotation>
							<xsd:documentation> The value of the maximal power </xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="SEC_MeasurementsType">
		<xsd:annotation>
			<xsd:documentation> Definition of specific energy consumption measurements type
			</xsd:documentation>
		</xsd:annotation>

		<xsd:sequence>
			<xsd:element name="measurement" minOccurs="3" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation> A measurement for the specific energy consumption
					</xsd:documentation>
				</xsd:annotation>

				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="compressorPower">
							<xsd:annotation>
								<xsd:documentation> The compressor power for this measurement
								</xsd:documentation>
							</xsd:annotation>

							<xsd:complexType>
								<xsd:attribute default="kW" name="unit" type="framework:string">
									<xsd:annotation>
										<xsd:documentation> The unit of the compressor power
										</xsd:documentation>
									</xsd:annotation>
								</xsd:attribute>

								<xsd:attribute name="value" type="framework:double" use="required">
									<xsd:annotation>
										<xsd:documentation> The unit of the compressor power
										</xsd:documentation>
									</xsd:annotation>
								</xsd:attribute>
							</xsd:complexType>
						</xsd:element>

						<xsd:element name="fuelConsumption">
							<xsd:annotation>
								<xsd:documentation> The fuel consumption for this measurement
								</xsd:documentation>
							</xsd:annotation>

							<xsd:complexType>
								<xsd:attribute default="kW" name="unit" type="framework:string">
									<xsd:annotation>
										<xsd:documentation> The unit of the fuel consumption
										</xsd:documentation>
									</xsd:annotation>
								</xsd:attribute>

								<xsd:attribute name="value" type="framework:double" use="required">
									<xsd:annotation>
										<xsd:documentation> The value of the fuel consumption
										</xsd:documentation>
									</xsd:annotation>
								</xsd:attribute>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

</xsd:schema>
