projects/gasmas/transfer/zib/resources/PhysicalValues.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid XML Studio 1.0.8.0 (http://www.liquid-technologies.com) -->
<xsd:schema xmlns:framework="http://mathematik.tu-darmstadt.de/opt/framework/XMLSchema"
  xmlns="http://mathematik.tu-darmstadt.de/opt/framework/XMLSchema" elementFormDefault="qualified"
  targetNamespace="http://mathematik.tu-darmstadt.de/opt/framework/XMLSchema"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:annotation>
   <xsd:documentation xml:lang="EN"> Within this XML Schema basic physical values are
      described. A physical value is defined by its unit and a value.  </xsd:documentation>
  </xsd:annotation>
  
  <xsd:element abstract="true" final="restriction" name="unit" type="framework:unitType">
    <xsd:annotation>
      <xsd:documentation> An (abstract) physical unit </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  
  <xsd:complexType name="unitType"/>
  
  <xsd:element name="height" substitutionGroup="framework:unit" type="framework:lengthType">
    <xsd:annotation>
      <xsd:documentation> A height indication. </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  
  <xsd:element name="length" substitutionGroup="framework:unit" type="framework:lengthType">
    <xsd:annotation>
      <xsd:documentation> A length specification. </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  
  <xsd:element name="mass" substitutionGroup="framework:unit" type="framework:massType">
    <xsd:annotation>
      <xsd:documentation> An indication of mass. </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  
  <xsd:element name="diameter" substitutionGroup="framework:unit" type="framework:lengthType">
    <xsd:annotation>
      <xsd:documentation> A diameter specification. </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  
  <xsd:element name="radius" substitutionGroup="framework:unit" type="framework:lengthType">
    <xsd:annotation>
      <xsd:documentation> A radius specification. </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  
  <xsd:element name="roughness" substitutionGroup="framework:unit" type="framework:lengthType">
    <xsd:annotation>
      <xsd:documentation> A roughness specification. </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  
  <xsd:element name="temperature" substitutionGroup="framework:unit" type="framework:temperatureType">
    <xsd:annotation>
      <xsd:documentation>  A temperature specification. </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  
  <xsd:element name="pressure" substitutionGroup="framework:unit" type="framework:pressureType">
    <xsd:annotation>
      <xsd:documentation> A pressure specification. </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  
  <xsd:element name="flow" substitutionGroup="framework:unit" type="framework:flowType">
    <xsd:annotation>
      <xsd:documentation> A flow specification. </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  
  <xsd:element name="power" substitutionGroup="framework:unit" type="framework:powerType">
    <xsd:annotation>
      <xsd:documentation> A power specification. </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  
  <xsd:element name="density" substitutionGroup="framework:unit" type="framework:densityType">
    <xsd:annotation>
      <xsd:documentation> A density specification. </xsd:documentation>
    </xsd:annotation>
  </xsd:element>

  <xsd:element name="velocity" substitutionGroup="framework:unit" type="framework:velocityType">
    <xsd:annotation>
      <xsd:documentation> A velocity specification. </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  
  <xsd:element name="area" substitutionGroup="framework:unit" type="framework:areaType">
    <xsd:annotation>
      <xsd:documentation> An area specification. </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  
  <xsd:element name="volume" substitutionGroup="framework:unit" type="framework:volumeType">
    <xsd:annotation>
      <xsd:documentation> A volume specification. </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  
  <xsd:element name="electricalCurrent" substitutionGroup="framework:unit" type="framework:electricalCurrentType">
    <xsd:annotation>
      <xsd:documentation> An electric current specification. </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  
  <xsd:element name="amountOfSubstance" substitutionGroup="framework:unit" type="framework:amountOfSubstanceType">
    <xsd:annotation>
      <xsd:documentation> An amount of substance specification. </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  
  <xsd:element name="luminousIntensity" substitutionGroup="framework:unit" type="framework:luminousIntensityType">
    <xsd:annotation>
      <xsd:documentation> A luminous intensity specification. </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  
  <xsd:complexType name="lengthType">
    <xsd:annotation>
      <xsd:documentation> Length type. </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="framework:unitType">
        <xsd:attribute default="m" name="unit" type="framework:lengthUnit">
          <xsd:annotation>
            <xsd:documentation> A length unit (default = meter). </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="value" type="xsd:double" use="required">
          <xsd:annotation>
            <xsd:documentation> Length value. </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>        
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <xsd:complexType name="massType">
    <xsd:annotation>
      <xsd:documentation> Mass type. </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="framework:unitType">
        <xsd:attribute default="kg" name="unit" type="framework:massUnit">
          <xsd:annotation>
            <xsd:documentation> A mass unit (default = kilogram). </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="value" type="xsd:double" use="required">
          <xsd:annotation>
            <xsd:documentation> Mass value. </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <xsd:complexType name="timeType">
    <xsd:annotation>
      <xsd:documentation> Time type. </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="framework:unitType">
        <xsd:attribute default="s" name="unit" type="framework:timeUnit">
          <xsd:annotation>
            <xsd:documentation> A time unit (default = second). </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="value" type="xsd:double" use="required">
          <xsd:annotation>
            <xsd:documentation> Time value. </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <xsd:complexType name="electricalCurrentType">
    <xsd:annotation>
      <xsd:documentation> Electrical current type. </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="framework:unitType">
        <xsd:attribute default="A" name="unit" type="framework:electricalCurrentUnit">
          <xsd:annotation>
            <xsd:documentation> An electric current unit (default = ampere). </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="value" type="xsd:double" use="required">
          <xsd:annotation>
            <xsd:documentation> Electric current value. </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <xsd:complexType name="temperatureType">
    <xsd:annotation>
      <xsd:documentation> Temperature type. </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="framework:unitType">
        <xsd:attribute default="K" name="unit" type="framework:temperatureUnit">
          <xsd:annotation>
            <xsd:documentation> A temperature unit (default = Kelvin). </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="value" type="xsd:double" use="required">
          <xsd:annotation>
            <xsd:documentation> Temperature value. </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <xsd:complexType name="amountOfSubstanceType">
    <xsd:annotation>
      <xsd:documentation> Amount of substance type. </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="framework:unitType">
        <xsd:attribute default="mol" name="unit" type="framework:amountOfSubstanceUnit">
          <xsd:annotation>
            <xsd:documentation> An amount of substance unit (default = mol). </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="value" type="xsd:double" use="required">
          <xsd:annotation>
            <xsd:documentation> Amount of substance value. </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <xsd:complexType name="luminousIntensityType">
    <xsd:annotation>
      <xsd:documentation> Luminous intensity type. </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="framework:unitType">
        <xsd:attribute default="cd" name="unit" type="framework:luminousIntensityUnit">
          <xsd:annotation>
            <xsd:documentation> A luminous intensity unit (default = candela). </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="value" type="xsd:double" use="required">
          <xsd:annotation>
            <xsd:documentation> Luminous intensity value. </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <xsd:complexType name="pressureType">
    <xsd:annotation>
      <xsd:documentation> Pressure type. </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="framework:unitType">
        <xsd:attribute default="barg" name="unit" type="framework:pressureUnit">
          <xsd:annotation>
            <xsd:documentation> A pressure unit (default = barg). </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="value" type="xsd:double" use="required">
          <xsd:annotation>
            <xsd:documentation> Pressure value. </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <xsd:complexType name="flowType">
    <xsd:annotation>
      <xsd:documentation> Flow type. </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="framework:unitType">
        <xsd:attribute default="m_cube_per_s" name="unit" type="framework:flowUnit">
          <xsd:annotation>
            <xsd:documentation> A flow unit (default = cubic meters per second). </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="value" type="xsd:double" use="required">
          <xsd:annotation>
            <xsd:documentation> Flow value. </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="powerType">
    <xsd:annotation>
      <xsd:documentation> Power type. </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="framework:unitType">
        <xsd:attribute default="kW" name="unit" type="framework:powerUnit">
          <xsd:annotation>
            <xsd:documentation> A power unit (default = kilowatt). </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="value" type="xsd:double" use="required">
          <xsd:annotation>
            <xsd:documentation> Power value. </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="densityType">
    <xsd:annotation>
      <xsd:documentation> Density type. </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="framework:unitType">
        <xsd:attribute default="kg_per_m_cube" name="unit" type="framework:densityUnit">
          <xsd:annotation>
            <xsd:documentation> A density unit (default = kilogramm per cubicmeter). </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="value" type="xsd:double" use="required">
          <xsd:annotation>
            <xsd:documentation> Density value. </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="velocityType">
    <xsd:annotation>
      <xsd:documentation> Velocity type. </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="framework:unitType">
        <xsd:attribute default="m_per_s" name="unit" type="framework:velocityUnit">
          <xsd:annotation>
            <xsd:documentation> A velocity unit (default = meter per second). </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="value" type="xsd:double" use="required">
          <xsd:annotation>
            <xsd:documentation> Velocity value. </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="areaType">
    <xsd:annotation>
      <xsd:documentation> Area type. </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="framework:unitType">
        <xsd:attribute default="m_square" name="unit" type="framework:areaUnit">
          <xsd:annotation>
            <xsd:documentation> An area unit (default = square meters). </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="value" type="xsd:double" use="required">
          <xsd:annotation>
            <xsd:documentation> Area value. </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="volumeType">
    <xsd:annotation>
      <xsd:documentation> Volume type. </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="framework:unitType">
        <xsd:attribute default="m_cube" name="unit" type="framework:volumeUnit">
          <xsd:annotation>
            <xsd:documentation> A volume unit (default = cubic meter). </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="value" type="xsd:double" use="required">
          <xsd:annotation>
            <xsd:documentation> Volume value. </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="heatTransferType">
    <xsd:annotation>
      <xsd:documentation> Heat transfer type. </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="framework:unitType">
        <xsd:attribute default="W_per_m_square_per_K" name="unit" type="framework:heatTransferUnit">
          <xsd:annotation>
            <xsd:documentation> A heat transfer unit (default = watt per square meters per Kelvin). </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="value" type="xsd:double" use="required">
          <xsd:annotation>
            <xsd:documentation> Heat transfer value. </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <xsd:complexType name="stateType">
    <xsd:annotation>
      <xsd:documentation> Discrete state type. </xsd:documentation>
    </xsd:annotation>
    <xsd:attribute name="value" type="framework:onOffPattern" use="required">
      <xsd:annotation>
        <xsd:documentation> Discrete state. </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>

  <xsd:complexType name="noType">
    <xsd:annotation>
      <xsd:documentation> Unitless type. </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="framework:unitType">
        <xsd:attribute name="value" type="xsd:double" use="required">
          <xsd:annotation>
            <xsd:documentation> Value. </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:simpleType name="pressureUnit">
    <xsd:annotation>
      <xsd:documentation> Units of pressure. </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="bar"/>
      <xsd:enumeration value="barg"/>
      <xsd:enumeration value="Pa"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="flowUnit">
    <xsd:annotation>
      <xsd:documentation> Units of flow. </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="m_cube_per_s"/>
      <xsd:enumeration value="m_cube_per_hour"/>
      <xsd:enumeration value="1000m_cube_per_hour"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="temperatureUnit">
    <xsd:annotation>
      <xsd:documentation> Units of temperature. </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Celsius"/>
      <xsd:enumeration value="Fahrenheit"/>
      <xsd:enumeration value="K"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="lengthUnit">
    <xsd:annotation>
      <xsd:documentation> Units of length. </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="mm"/>
      <xsd:enumeration value="cm"/>
      <xsd:enumeration value="m"/>
      <xsd:enumeration value="km"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="areaUnit">
    <xsd:annotation>
      <xsd:documentation> Units of area. </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="mm_square"/>
      <xsd:enumeration value="cm_square"/>
      <xsd:enumeration value="m_square"/>
      <xsd:enumeration value="km_square"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="volumeUnit">
    <xsd:annotation>
      <xsd:documentation> Units of volume. </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="mm_cube"/>
      <xsd:enumeration value="cm_cube"/>
      <xsd:enumeration value="m_cube"/>
      <xsd:enumeration value="km_cube"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="heatTransferUnit">
    <xsd:annotation>
      <xsd:documentation> Units of heat transfer. </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="W_per_m_square_per_K"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="powerUnit">
    <xsd:annotation>
      <xsd:documentation> Units of power. </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="W">
        <xsd:annotation>
          <xsd:documentation> Watt. </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="kW">
        <xsd:annotation>
          <xsd:documentation> Kilowatt. </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="MW">
        <xsd:annotation>
          <xsd:documentation> Megawatt. </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="mW">
        <xsd:annotation>
          <xsd:documentation> Milliwatt. </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="densityUnit">
    <xsd:annotation>
      <xsd:documentation> Units of density. </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="kg_per_m_cube">
        <xsd:annotation>
          <xsd:documentation> Kilogram per cubic meter. </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="velocityUnit">
    <xsd:annotation>
      <xsd:documentation> Units of velocity. </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="m_per_s">
        <xsd:annotation>
          <xsd:documentation> Meter per second. </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="timeUnit">
    <xsd:annotation>
      <xsd:documentation> Units of time. </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="s">
        <xsd:annotation>
          <xsd:documentation> Second. </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="min">
        <xsd:annotation>
          <xsd:documentation> Minute. </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="hour">
        <xsd:annotation>
          <xsd:documentation> Hour. </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="electricalCurrentUnit">
    <xsd:annotation>
      <xsd:documentation> Units of electrical current. </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="A">
        <xsd:annotation>
          <xsd:documentation> Ampere. </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="mA">
        <xsd:annotation>
          <xsd:documentation> Milliampere. </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="kA">
        <xsd:annotation>
          <xsd:documentation> Kiloampere. </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="massUnit">
    <xsd:annotation>
      <xsd:documentation> Units of mass. </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="kg">
        <xsd:annotation>
          <xsd:documentation> Kilogram. </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="g">
        <xsd:annotation>
          <xsd:documentation> Gram. </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="mg">
        <xsd:annotation>
          <xsd:documentation> Milligram. </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="amountOfSubstanceUnit">
    <xsd:annotation>
      <xsd:documentation> Units of amount of substance. </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="mol">
        <xsd:annotation>
          <xsd:documentation> Mol. </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="luminousIntensityUnit">
    <xsd:annotation>
      <xsd:documentation> Units of luminous intensity. </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="cd">
        <xsd:annotation>
          <xsd:documentation> Candela. </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="float">
    <xsd:annotation>
      <xsd:documentation> Floating point number. </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:float"/>
  </xsd:simpleType>

  <xsd:simpleType name="nonNegativeFloat">
    <xsd:annotation>
      <xsd:documentation> Non-negative floating point number. </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:float">
      <xsd:minInclusive value="0.0"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="nonPositiveFloat">
    <xsd:annotation>
      <xsd:documentation> Non-positive floating point number. </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:float">
      <xsd:maxInclusive value="0.0"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="positiveFloat">
    <xsd:annotation>
      <xsd:documentation> Positive floating point number. </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:float">
      <xsd:minExclusive value="0.0"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="negativeFloat">
    <xsd:annotation>
      <xsd:documentation> Negative floating point number. </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:float">
      <xsd:maxExclusive value="0.0"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="double">
    <xsd:annotation>
      <xsd:documentation> Double precision floating point number. </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:double"/>
  </xsd:simpleType>

  <xsd:simpleType name="nonNegativeDouble">
    <xsd:annotation>
      <xsd:documentation> Non-negative double precision floating point number. </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:double">
      <xsd:minInclusive value="0.0"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="nonPositiveDouble">
    <xsd:annotation>
      <xsd:documentation> Non-positive double precision floating point number. </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:double">
      <xsd:maxInclusive value="0.0"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="positiveDouble">
    <xsd:annotation>
      <xsd:documentation> Positive double precision floating point number. </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:float">
      <xsd:minExclusive value="0.0"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="negativeDouble">
    <xsd:annotation>
      <xsd:documentation> Negative double precision floating point number. </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:float">
      <xsd:maxExclusive value="0.0"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="zero2OneDouble">
    <xsd:annotation>
      <xsd:documentation> Double precision floating point number in the interval [0,1]. </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:double">
      <xsd:minInclusive value="0.0"/>
      <xsd:maxInclusive value="1.0"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="integer">
    <xsd:annotation>
      <xsd:documentation> Integer number </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:integer"/>
  </xsd:simpleType>

  <xsd:simpleType name="integerList">
    <xsd:annotation>
      <xsd:documentation> List of integer numbers. </xsd:documentation>
    </xsd:annotation>
    <xsd:list itemType="xsd:integer"/>
  </xsd:simpleType>

  <xsd:simpleType name="nonNegativeInteger">
    <xsd:annotation>
      <xsd:documentation> Non-negative integer number. </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:integer">
      <xsd:minInclusive value="0"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="nonPositiveInteger">
    <xsd:annotation>
      <xsd:documentation> Non-positive integer number. </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:integer">
      <xsd:maxInclusive value="0"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="positiveInteger">
    <xsd:annotation>
      <xsd:documentation> Positive integer number. </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:integer">
      <xsd:minExclusive value="0"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="negativeInteger">
    <xsd:annotation>
      <xsd:documentation> Negative integer number. </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:integer">
      <xsd:maxExclusive value="0"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="decimal">
    <xsd:annotation>
      <xsd:documentation> Decimal number. </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:decimal"/>
  </xsd:simpleType>

  <xsd:simpleType name="boolean">
    <xsd:annotation>
      <xsd:documentation> Boolean value. </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:boolean"/>
  </xsd:simpleType>

  <xsd:simpleType name="string">
    <xsd:annotation>
      <xsd:documentation> String value. </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>

  <xsd:simpleType name="byte">
    <xsd:annotation>
      <xsd:documentation> Byte value. </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:byte"/>
  </xsd:simpleType>

  <xsd:simpleType name="date">
    <xsd:annotation>
      <xsd:documentation> Date value. </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:date"/>
  </xsd:simpleType>

  <xsd:simpleType name="onOffPattern">
    <xsd:annotation>
      <xsd:documentation> Either 'on' or 'off'. </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="on"/>
      <xsd:enumeration value="off"/>
    </xsd:restriction>
  </xsd:simpleType>

</xsd:schema>
