eclipseProjects/org.agentgui.core/projects/gasmas/transfer/zib/resources/Gas.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema elementFormDefault="qualified"
  targetNamespace="http://mathematik.tu-darmstadt.de/opt/gas/XMLSchema"
  xmlns="http://mathematik.tu-darmstadt.de/opt/gas/XMLSchema"
  xmlns:framework="http://mathematik.tu-darmstadt.de/opt/framework/XMLSchema"
  xmlns:gas="http://mathematik.tu-darmstadt.de/opt/gas/XMLSchema"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  
  <xsd:annotation>
    <xsd:documentation>
      This file constitutes a specification for XML files defining a gas network.
      Basic properties of generic network elements are inherited from the
      XML-Schema <a href="Framework_xsd.html">Framework.xsd</a>. Other basic types used within this schema are
      defined in <a href="Topology_xsd.html">Topology.xsd</a>. The tag <a href="#id84">network</a> must be the root 
      element of each XML document conforming to this schema.
    </xsd:documentation>
  </xsd:annotation>

  <!-- SECTION: IMPORT (mandatory)
                         Here the framework schema (framework.xsd) is imported -->
  <xsd:import namespace="http://mathematik.tu-darmstadt.de/opt/framework/XMLSchema" schemaLocation="Framework.xsd"/>

  <!-- SECTION: NETWORK (optional)
                         Here all additonal subelements of network have to be defined -->

  <!-- Extension of a network to a gas network definition -->
  <xsd:element name="network" substitutionGroup="framework:network" type="gas:networkType">
    <xsd:annotation>
      <xsd:documentation> network is a gas network. Its definition is given by type.
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="networkType">
    <xsd:annotation>
      <xsd:documentation> networkType defines the gas network. </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="framework:networkType">
        <xsd:sequence> </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- SECTION: UNIT (optional)
                         Here all additonal physical values used in a gas network have to be defined -->

  <!-- All mandatory physical units that must be declared -->
  <xsd:complexType name="speedType">
    <xsd:annotation>
      <xsd:documentation> speedType defines the speed of the gas flow. </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="framework:unitType">
        <xsd:attribute default="per_min" name="unit" type="per_minUnit">
          <xsd:annotation>
            <xsd:documentation> unit is the unit of the speed of the gas flow. Unit is specified by
              type. Default value is specified by default. </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="value" type="framework:double" use="required">
          <xsd:annotation>
            <xsd:documentation> value is the value of the speed of the gas flow. Unit is specified
              by type. </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="calorificValueType">
    <xsd:annotation>
      <xsd:documentation> calorificValueType defines the calorific value of the gas.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="framework:unitType">
        <xsd:attribute default="MJ_per_m_cube" name="unit" type="MJ_per_m_cubeUnit">
          <xsd:annotation>
            <xsd:documentation> unit is the unit of the calorific value of the gas. Unit is
              specified by type. Default value is specified by default. </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="value" type="framework:double" use="required">
          <xsd:annotation>
            <xsd:documentation> value is the value of the calorific value of the gas. Unit is
              specified by type. </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="molarMassType">
    <xsd:annotation>
      <xsd:documentation> molarMassType defines the molar mass of the gas. </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="framework:unitType">
        <xsd:attribute default="kg_per_kmol" name="unit" type="kg_per_kmolUnit">
          <xsd:annotation>
            <xsd:documentation> unit is the unit of the molar mass of the gas. Unit is specified by
              type. Default value is specified by default. </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="value" type="framework:double" use="required">
          <xsd:annotation>
            <xsd:documentation> value is the value of the molar mass of the gas. Unit is specified
              by type. </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="specificFuelConsumptionType">
    <xsd:annotation>
      <xsd:documentation> specificFuelConsumptionType defines the specific fuel consumption of a
        compressor. </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="framework:unitType">
        <xsd:attribute default="MJ_per_kWh" name="unit" type="MJ_per_kWhUnit">
          <xsd:annotation>
            <xsd:documentation> unit is the unit of the specific fuel consumption of a compressor.
              Unit is specified by type. Default value is specified by default. </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="value" type="framework:double" use="required">
          <xsd:annotation>
            <xsd:documentation> value is the value of the specific fuel consumption of a compressor.
              Unit is specified by type. </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="efficiencyType">
    <xsd:annotation>
      <xsd:documentation> efficiencyType defines the efficiency of a compressor.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="framework:unitType">
        <xsd:attribute name="unit" type="noUnit">
          <xsd:annotation>
            <xsd:documentation> unit is the unit of the efficiency of a compressor. Unit is
              specified by type. Default value is specified by default. </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="value" type="framework:double" use="required">
          <xsd:annotation>
            <xsd:documentation> value is the value of the efficiency of a compressor. Unit is
              specified by type. </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="noUnit">
    <xsd:annotation>
      <xsd:documentation> noUnit is used for quantities without units. </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value=""/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="per_minUnit">
    <xsd:annotation>
      <xsd:documentation> per_minUnit subsumes units with per minute. </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="per_min"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="MJ_per_m_cubeUnit">
    <xsd:annotation>
      <xsd:documentation> MJ_per_m_cubeUnit subsumes units with mega Joule per cubic meter.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="MJ_per_m_cube"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="MJ_per_kWhUnit">
    <xsd:annotation>
      <xsd:documentation> MJ_per_kWhUnit subsumes units with mega Joule per kilo Watt hour.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="MJ_per_kWh"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="kg_per_kmolUnit">
    <xsd:annotation>
      <xsd:documentation> kg_per_kmolUnit subsumes units with kilo gramm per kilo Mol.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="kg_per_kmol"/>
    </xsd:restriction>
  </xsd:simpleType>


  <!-- SECTION: NODE implementation (mandatory)
                         Here all node inheritors have to be described -->

  <!-- Abstract gas node definition -->
  <xsd:element abstract="true" name="node" substitutionGroup="framework:node" type="gas:nodeType">
    <xsd:annotation>
      <xsd:documentation> node is a node in the gas network. Its definition is given by type.
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="nodeType">
    <xsd:annotation>
      <xsd:documentation> nodeType defines a node in the gas network. </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="framework:nodeType">
        <xsd:sequence>
          <xsd:element name="height" type="framework:lengthType">
            <xsd:annotation>
              <xsd:documentation> height is the phsical height of the node in the gas network. Unit
                is specified by type. </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="pressureMin" type="framework:pressureType">
            <xsd:annotation>
              <xsd:documentation> pressureMin is the minimal pressure at the node in the gas
                network. Unit is specified by type. The minimum pressure must be greater than or equal to 0 barg. </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="pressureMax" type="framework:pressureType">
            <xsd:annotation>
              <xsd:documentation> pressureMax is the maximal pressure at the node in the gas
                network. Unit is specified by type. The maximum pressure must be greater than or equal to 0 barg.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute default="0" name="geoGKRight" type="xsd:decimal"/>
        <!-- wird evtl geloescht, daher nicht dokumentiert -->
        <xsd:attribute default="0" name="geoGKUp" type="xsd:decimal"/>
        <!-- wird evtl geloescht, daher nicht dokumentiert -->
        <xsd:attribute default="0" name="geoWGS84Long" type="xsd:decimal">
          <xsd:annotation>
            <xsd:documentation> geoWGS84Long is the longitude coordinate of the intermediate node in
              the WGS84 system. Unit is specified by type. </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute default="0" name="geoWGS84Lat" type="xsd:decimal">
          <xsd:annotation>
            <xsd:documentation> geoWGS84Lat is the lattitude coordinate of the intermediate node in
              the WGS84 system. Unit is specified by type. </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- Abstract boundary node definition -->
  <xsd:element abstract="true" name="boundaryNode" substitutionGroup="gas:node"
    type="gas:boundaryNodeType">
    <xsd:annotation>
      <xsd:documentation> boundaryNode is a boundary node in the gas network. Its definition is
        given by type. </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="boundaryNodeType">
    <xsd:annotation>
      <xsd:documentation> boundaryNodeType defines a boundary node in the gas network.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="gas:nodeType">
        <xsd:sequence>
          <xsd:element name="flowMin" type="framework:flowType">
            <xsd:annotation>
              <xsd:documentation> flowMin is the minimal in- or outflow at the boundary node in the
                gas network. Unit is specified by type. </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="flowMax" type="framework:flowType">
            <xsd:annotation>
              <xsd:documentation> flowMax is the maximal in- or outflow at the boundary node in the
                gas network. Unit is specified by type. </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- Source node definition -->
  <xsd:element name="source" substitutionGroup="gas:boundaryNode" type="gas:sourceType">
    <xsd:annotation>
      <xsd:documentation> source is a source node in the gas network. Its definition is given by
        type. </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="sourceType">
    <xsd:annotation>
      <xsd:documentation> sourceType defines a source node in the gas network. </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="gas:boundaryNodeType">
        <xsd:sequence>
          <xsd:element name="gasTemperature" type="framework:temperatureType">
            <xsd:annotation>
              <xsd:documentation> gasTemperature is the gas temperature of the entering gas at the
                source node in the gas network. Unit is specified by type. </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="calorificValue" type="gas:calorificValueType">
            <xsd:annotation>
              <xsd:documentation> calorificValue is the calorific Value of the entering gas at the
                source node in the gas network. Unit is specified by type. </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="normDensity" type="framework:densityType">
            <xsd:annotation>
              <xsd:documentation> normDensity is the norm density of the entering gas at the source
                node in the gas network. Unit is specified by type. </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="coefficient-A-heatCapacity" type="framework:noType">
            <xsd:annotation>
              <xsd:documentation> coefficient-A-heatCapacity is one coefficient of the heat capacity
                of the entering gas at the source node in the gas network. Unit is specified by
                type. </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="coefficient-B-heatCapacity" type="framework:noType">
            <xsd:annotation>
              <xsd:documentation> coefficient-B-heatCapacity is one coefficient of the heat capacity
                of the entering gas at the source node in the gas network. Unit is specified by
                type. </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="coefficient-C-heatCapacity" type="framework:noType">
            <xsd:annotation>
              <xsd:documentation> coefficient-C-heatCapacity is one coefficient of the heat capacity
                of the entering gas at the source node in the gas network. Unit is specified by
                type. </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="molarMass" type="gas:molarMassType">
            <xsd:annotation>
              <xsd:documentation> molarMass is the molar mass of the entering gas at the source node
                in the gas network. Unit is specified by type. </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="pseudocriticalPressure" type="framework:pressureType">
            <xsd:annotation>
              <xsd:documentation> pseudocriticalPressure is the pseudocritical pressure of the
                entering gas at the source node in the gas network. Unit is specified by type.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="pseudocriticalTemperature" type="framework:temperatureType">
            <xsd:annotation>
              <xsd:documentation> pseudocriticalTemperature is the pseudocritical temperature of the
                entering gas at the source node in the gas network. Unit is specified by type.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- Sink node definition -->
  <xsd:element name="sink" substitutionGroup="gas:boundaryNode" type="gas:sinkType">
    <xsd:annotation>
      <xsd:documentation> sink is a sink node in the gas network. Its definition is given by type.
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="sinkType">
    <xsd:annotation>
      <xsd:documentation> sinkType defines a sink node in the gas network. </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="gas:boundaryNodeType">
        <xsd:sequence/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- Innode definition -->
  <xsd:element name="innode" substitutionGroup="gas:node" type="gas:innodeType">
    <xsd:annotation>
      <xsd:documentation> innode is a inner node in the gas network. Its definition is given by
        type. </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="innodeType">
    <xsd:annotation>
      <xsd:documentation> innodeType defines a inner node in the gas network. </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="gas:nodeType">
        <xsd:sequence/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- SECTION: CONNECTION implementation (mandatory)
                         Here all connection inheritors have to be described -->

  <!-- Abstract gas connection definition -->
  <xsd:element abstract="true" name="connection" substitutionGroup="framework:connection"
    type="gas:connectionType">
    <xsd:annotation>
      <xsd:documentation> connection is any (abstract) connection between two nodes in the network
        with active or passive network elements. </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="connectionType">
    <xsd:annotation>
      <xsd:documentation> connectionType defines any (abstract) way to connect two nodes in the
        network with active or passive network elements. </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="framework:connectionType">
        <xsd:sequence>
          <xsd:element name="flowMin" type="framework:flowType">
            <xsd:annotation>
              <xsd:documentation> flowMin is the minimal directed gas flow on the corresponding
                abstract connection (i.e., an arc in the network, which is later specified as pipe,
                compressor, valve, etc.). Note that the flow value is signed, where a positive sign
                (value greater than 0) means a flow in direction of the connection, and a negative
                sign (value lower than 0) means a flow in the opposite direction of the connection.
                Unit is specified by type. </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="flowMax" type="framework:flowType">
            <xsd:annotation>
              <xsd:documentation> flowMax is the maximal directed gas flow on the corresponding
                abstract connection (i.e., an arc in the network, which is later specified as pipe,
                compressor, valve, etc.). Note that the flow value is signed, where a positive sign
                (value greater than 0) means a flow in direction of the connection, and a negative
                sign (value lower than 0) means a flow in the opposite direction of the connection.
                Unit is specified by type. </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- Pipe definition -->
  <xsd:element name="pipe" substitutionGroup="gas:connection" type="gas:pipeType">
    <xsd:annotation>
      <xsd:documentation> pipe is a pipeline in the gas network. Definition is given by type.
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="pipeType">
    <xsd:annotation>
      <xsd:documentation> pipeType defines a pipeline in the gas network. </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="gas:connectionType">
        <xsd:sequence>
          <xsd:element name="length" type="framework:lengthType">
            <xsd:annotation>
              <xsd:documentation> length of the pipeline. Unit is specified by type.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="lineOfSight" type="framework:lengthType" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation> lineOfSight is the length of the direct connection between head
                and tail of the pipeline. Unit is specified by type. This parameter is optional.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="diameter" type="framework:lengthType">
            <xsd:annotation>
              <xsd:documentation> diameter of the pipeline. Unit is specified by type.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="roughness" type="framework:lengthType">
            <xsd:annotation>
              <xsd:documentation> roughness of the pipeline. Unit is specified by type.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="pressureMax" type="framework:pressureType" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation> pressureMax is the maximal pressure level of the pipeline. Unit is
                specified by type. This parameter is optional. Note that the head and tail node of
                the pipeline may have different values for the maximal pressure.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="heatTransferCoefficient" type="framework:heatTransferType">
            <xsd:annotation>
              <xsd:documentation> heatTransferCoefficient of the pipeline. Unit is specified by
                type. </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="path" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation> path of the pipeline contains intermediate nodes to model its
                geographical course. This element is optional. If used, only intermediate nodes have
                to be specified, not the head and tail nodes of the pipeline. Note that the course
                is sensitive to the given sequence of the intermediate nodes. The first node is the
                closest to tail, the last node is closest to the head node of the pipeline.
              </xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element maxOccurs="unbounded" name="node">
                  <xsd:annotation>
                    <xsd:documentation> node is an intermediate node to model the course of the
                      pipeline. </xsd:documentation>
                  </xsd:annotation>
                  <xsd:complexType>
                    <xsd:attribute default="0" name="geoGKRight" type="xsd:decimal"/>
                    <!-- wird evtl geloescht, daher nicht dokumentiert -->
                    <xsd:attribute default="0" name="geoGKUp" type="xsd:decimal"/>
                    <!-- wird evtl geloescht, daher nicht dokumentiert -->
                    <xsd:attribute default="0" name="geoWGS84Long" type="xsd:decimal">
                      <xsd:annotation>
                        <xsd:documentation> geoWGS84Long is the longitude coordinate of the
                          intermediate node in the WGS84 system. Unit is specified by type.
                        </xsd:documentation>
                      </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute default="0" name="geoWGS84Lat" type="xsd:decimal">
                      <xsd:annotation>
                        <xsd:documentation> geoWGS84Lat is the lattitude coordinate of the
                          intermediate node in the WGS84 system. Unit is specified by type.
                        </xsd:documentation>
                      </xsd:annotation>
                    </xsd:attribute>
                  </xsd:complexType>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- Short pipe definition -->
  <xsd:element name="shortPipe" substitutionGroup="gas:connection" type="gas:shortPipeType">
    <xsd:annotation>
      <xsd:documentation> shortPipe is a short pipe in the gas network. It has no other physical
        properties than a restriction on the directed gas flow. Definition is specified by type.
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="shortPipeType">
    <xsd:annotation>
      <xsd:documentation> shortPipeType defines a short pipe in the gas network.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="gas:connectionType">
        <xsd:sequence> </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- Valve definition -->
  <xsd:element name="valve" substitutionGroup="gas:connection" type="gas:valveType">
    <xsd:annotation>
      <xsd:documentation> valve is a valve in the gas network. Definition is specified by type.
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="valveType">
    <xsd:annotation>
      <xsd:documentation> valveType defines a valve in the gas network. </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="gas:connectionType">
        <xsd:sequence>
          <xsd:element name="pressureDifferentialMax" type="framework:pressureType">
            <xsd:annotation>
              <xsd:documentation> pressureDifferentialMax is the maximal pressure difference if the
                valve is closed. Unit is specified by type. </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- Control valve definition -->
  <xsd:element name="controlValve" substitutionGroup="gas:connection" type="gas:controlValveType">
    <xsd:annotation>
      <xsd:documentation> controlValve is a pressure regulator in the gas network. Definition is
        specified by type. </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="controlValveType">
    <xsd:annotation>
      <xsd:documentation> controlValveType defines a pressure regulator in the gas network.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="gas:connectionType">
        <xsd:sequence>
          <xsd:choice>
            <xsd:sequence>
              <xsd:element name="pressureDifferentialMin" type="framework:pressureType">
                <xsd:annotation>
                  <xsd:documentation> pressureDifferentialMax refers to the maximal pressure
                    difference that can be regulated when the element is active (and not closed or
                    in bypass). Unit is specified by type. </xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="pressureDifferentialMax" type="framework:pressureType">
                <xsd:annotation>
                  <xsd:documentation> pressureDifferentialMin refers to the minimal pressure
                    difference that must be regulated if the element is active (and not closed or in
                    bypass). Unit is specified by type. </xsd:documentation>
                </xsd:annotation>
              </xsd:element>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:element name="pressureSet" type="framework:pressureType">
                <xsd:annotation>
                  <xsd:documentation> pressureSet is used for non-remote pressure regulator to
                    specify the desired output pressure. Unit is specified by type.
                  </xsd:documentation>
                </xsd:annotation>
              </xsd:element>
            </xsd:sequence>
          </xsd:choice>
          <xsd:element name="pressureInMin" type="framework:pressureType">
            <xsd:annotation>
              <xsd:documentation> pressureInMin is the minimal gas pressure at the inflow. Unit is
                specified by type. The minimum pressure must be greater than or equal to 0 barg.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="pressureOutMax" type="framework:pressureType">
            <xsd:annotation>
              <xsd:documentation> pressureOutMax is the maximal gas pressure at the outflow. Unit is
                specified by type. The maximum pressure must be greater than or equal to 0 barg.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:choice>
            <xsd:sequence>
              <xsd:element name="dragFactorIn" type="framework:noType">
                <xsd:annotation>
                  <xsd:documentation> dragFactorIn specifies the drag factor value at the regulator
                    station inflow (before regulation), to be used in a resistor formular to compute
                    the actual pressure loss for the gas flow over the resistor as a function of the
                    flow and the input pressure. This pressure reduction is not applied if the
                    regulator station is in bypass. Unit is specified by type. </xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="diameterIn" type="framework:lengthType">
                <xsd:annotation>
                  <xsd:documentation> diameterIn specifies the diameter of the resistor at the
                    regulator station inflow (before regulation), to be used in a resistor formular
                    to compute the actual pressure loss for the gas flow over the resistor as a
                    function of the flow and the input pressure. This pressure reduction is not
                    applied if the regulator station is in bypass. Unit is specified by type.
                  </xsd:documentation>
                </xsd:annotation>
              </xsd:element>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:element name="pressureLossIn" type="framework:pressureType">
                <xsd:annotation>
                  <xsd:documentation> pressureLossIn specifies a certain value for the loss of
                    pressure of the gas flow over the resistor at the regulator station inflow
                    (before regulation). This pressure reduction is not applied if the regulator
                    station is in bypass. Unit is specified by type. </xsd:documentation>
                </xsd:annotation>
              </xsd:element>
            </xsd:sequence>
          </xsd:choice>
          <xsd:choice>
            <xsd:sequence>
              <xsd:element name="dragFactorOut" type="framework:noType">
                <xsd:annotation>
                  <xsd:documentation> dragFactorOut specifies the drag factor value at the regulator
                    station inflow (after regulation), to be used in a resistor formular to compute
                    the actual pressure loss for the gas flow over the resistor as a function of the
                    flow and the input pressure. This pressure reduction is not applied if the
                    regulator station is in bypass. Unit is specified by type. </xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="diameterOut" type="framework:lengthType">
                <xsd:annotation>
                  <xsd:documentation> diameterOut specifies the diameter of the resistor at the
                    regulator station inflow (after regulation), to be used in a resistor formular
                    to compute the actual pressure loss for the gas flow over the resistor as a
                    function of the flow and the input pressure. This pressure reduction is not
                    applied if the regulator station is in bypass. Unit is specified by type.
                  </xsd:documentation>
                </xsd:annotation>
              </xsd:element>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:element name="pressureLossOut" type="framework:pressureType">
                <xsd:annotation>
                  <xsd:documentation> pressureLossOut specifies a certain value for the loss of
                    pressure of the gas flow over the resistor at the regulator station inflow
                    (after regulation). This pressure reduction is not applied if the regulator
                    station is in bypass. Unit is specified by type. </xsd:documentation>
                </xsd:annotation>
              </xsd:element>
            </xsd:sequence>
          </xsd:choice>
          <xsd:element name="increasedOutputTemperature" minOccurs="0"
            type="framework:temperatureType">
            <xsd:annotation>
              <xsd:documentation> increasedOutputTemperature is the temperature of the gas at the
                outflow of the regulator, if a gas preheater exists. This element is optional; it
                should only be used if the attribute gasPreheaterExisting is 1. Unit is specified by
                type. </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="gasPreheaterExisting" default="0" type="xsd:boolean">
          <xsd:annotation>
            <xsd:documentation> gasPreheaterExisting is a boolean (0/1) flag to specify if the
              pressure regulator has a gas preheater (=1) or not (=0). If this value is 1, then the
              increasedOutputTemperature should also be specified. Per default, it is set to 0.
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="internalBypassRequired" default="1" type="xsd:boolean">
          <xsd:annotation>
            <xsd:documentation> internalBypassRequired is a boolean (0/1) flag to specify if the
              pressure regulator can internally be bypassed (=1) or not (=0). The value should be
              set to 0, if an external bypass is explicitly given in the network. Per default, it is
              set to 1. </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- Compressor station definition -->
  <xsd:element name="compressorStation" substitutionGroup="gas:connection"
    type="gas:compressorStationType">
    <xsd:annotation>
      <xsd:documentation> compressorStation is a compressor station in the gas network. Definition
        is specified by type. </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="compressorStationType">
    <xsd:annotation>
      <xsd:documentation> compressorStationType defines a compressor station in the gas network.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="gas:connectionType">
        <xsd:sequence>
          <xsd:choice>
            <xsd:sequence>
              <xsd:element name="dragFactorIn" type="framework:noType">
                <xsd:annotation>
                  <xsd:documentation> dragFactorIn specifies the drag factor value at the compressor
                    station inflow (before compression), to be used in a resistor formular to
                    compute the actual pressure loss for the gas flow over the resistor as a
                    function of the flow and the input pressure. This pressure reduction is not
                    applied if the compressor station is in bypass. Unit is specified by type.
                  </xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="diameterIn" type="framework:lengthType">
                <xsd:annotation>
                  <xsd:documentation> diameterIn specifies the diameter of the resistor at the
                    compressor station inflow (before compression), to be used in a resistor
                    formular to compute the actual pressure loss for the gas flow over the resistor
                    as a function of the flow and the input pressure. This pressure reduction is not
                    applied if the compressor station is in bypass. Unit is specified by type.
                  </xsd:documentation>
                </xsd:annotation>
              </xsd:element>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:element name="pressureLossIn" type="framework:pressureType">
                <xsd:annotation>
                  <xsd:documentation> pressureLossIn specifies a certain value for the loss of
                    pressure of the gas flow over the resistor at the compressor station inflow
                    (before compression). This pressure reduction is not applied if the compressor
                    station is in bypass. Unit is specified by type. </xsd:documentation>
                </xsd:annotation>
              </xsd:element>
            </xsd:sequence>
          </xsd:choice>
          <xsd:choice>
            <xsd:sequence>
              <xsd:element name="dragFactorOut" type="framework:noType">
                <xsd:annotation>
                  <xsd:documentation> dragFactorOut specifies the drag factor value at the
                    compressor station outflow (after compression), to be used in a resistor
                    formular to compute the actual pressure loss for the gas flow over the resistor
                    as a function of the flow and the input pressure. This pressure reduction is not
                    applied if the compressor station is in bypass. Unit is specified by type.
                  </xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="diameterOut" type="framework:lengthType">
                <xsd:annotation>
                  <xsd:documentation> diameterOut specifies the diameter of the resistor at the
                    compressor station outflow (after compression), to be used in a resistor
                    formular to compute the actual pressure loss for the gas flow over the resistor
                    as a function of the flow and the input pressure. This pressure reduction is not
                    applied if the compressor station is in bypass. Unit is specified by type.
                  </xsd:documentation>
                </xsd:annotation>
              </xsd:element>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:element name="pressureLossOut" type="framework:pressureType">
                <xsd:annotation>
                  <xsd:documentation> pressureLossOut specifies a certain value for the loss of
                    pressure of the gas flow over the resistor at the compressor station outflow
                    (after compression). This pressure reduction is not applied if the compressor
                    station is in bypass. Unit is specified by type. </xsd:documentation>
                </xsd:annotation>
              </xsd:element>
            </xsd:sequence>
          </xsd:choice>
          <xsd:element name="pressureInMin" type="framework:pressureType">
            <xsd:annotation>
              <xsd:documentation> pressureInMin is the minimal gas pressure at the inflow. Unit is
                specified by type. The minimum pressure must be greater than or equal to 0 barg. </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="pressureOutMax" type="framework:pressureType">
            <xsd:annotation>
              <xsd:documentation> pressureOutMax is the maximal gas pressure at the outflow. Unit is
                specified by type. The maximum pressure must be greater than or equal to 0 barg.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="cooledOutputTemperature" minOccurs="0" type="framework:temperatureType">
            <xsd:annotation>
              <xsd:documentation> cooledOutputTemperature is the temperature of the gas at the
                outflow of the compressor, if a gas cooler exists. This element is optional; it
                should only be used if the attribute gasCoolerExisting is 1. Unit is specified by
                type. </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="fuelGasVertex" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation> fuelGasVertex specifies the node ID where the fuel gas for the
              compressor station is taken from. </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="gasCoolerExisting" default="0" type="xsd:boolean">
          <xsd:annotation>
            <xsd:documentation> gasCoolerExisting is a boolean (0/1) flag to specify if a gas cooler
              exists after the gas compression. This attribute is optional; if it is set to 1, then
              the cooledOutputTemperature should also be specified. Per default there is no gas
              cooler (=0). </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="internalBypassRequired" default="1" type="xsd:boolean">
          <xsd:annotation>
            <xsd:documentation> internalBypassRequired is a boolean (0/1) flag to specify if the
              compressor station can internally be bypassed (=1) or not (=0). The value should be
              set to 0, if an external bypass is explicitly given in the network. Per default, it is
              set to 1. </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- Resistor definition -->
  <xsd:element name="resistor" substitutionGroup="gas:connection" type="gas:resistorType">
    <xsd:annotation>
      <xsd:documentation> resistor is a resistor in the gas network. Definition is specified by
        type. </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="resistorType">
    <xsd:annotation>
      <xsd:documentation> resistorType defines a resistor in the gas network. </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="gas:connectionType">
        <xsd:choice>
          <xsd:sequence>
            <xsd:element name="pressureLoss" type="framework:pressureType">
              <xsd:annotation>
                <xsd:documentation> pressureLoss specifies a certain value for the loss of pressure
                  of the gas flow over the resistor. Unit is specified by type. </xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
          <xsd:sequence>
            <xsd:element name="dragFactor" type="framework:noType">
              <xsd:annotation>
                <xsd:documentation> dragFactor specifies the drag factor value, to be used in a
                  resistor formular to compute the actual pressure loss for the gas flow over the
                  resistor as a function of the flow and the input pressure. Unit is specified by
                  type. </xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="diameter" type="framework:lengthType">
              <xsd:annotation>
                <xsd:documentation> diameter specifies the diameter of the resistor, to be used in a
                  resistor formular to compute the actual pressure loss for the gas flow over the
                  resistor as a function of the flow and the input pressure. Unit is specified by
                  type. </xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:choice>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>
